.myrows {
  border: 3px solid green;
  padding: 5px;
}
.mycols {
  border: 3px solid red;
}
.mycontainer {
  background-color: aqua;
}
#topHeader {
  border-bottom: 1px solid #ffffff;
}
#topHeader a {
  color: #f60404;
  font-weight: 600;
  font-size: 0.89rem;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
nav ul li a {
  font-size: 1.1rem;
  font-weight: 600;
}

/* START : Footer */
.full-footer {
  background-color: #000000;
}
.top-footer p {
  color: rgb(255, 255, 255);
}
.top-footer a {
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.top-footer h3 {
  color: white;
}
.bottom-footer {
  background-color: #ffffff;
}
.bottom-footer p {
  color: rgb(0, 0, 0);
}

/* END : Footer */

/* Start : Home page first hero section */
.top-hero-section {
  background-color: #3498db;
  color: white;
}
.top-hero-section a {
  color: white;
  font-weight: 600;
}
.qualities-img {
  width: 200px;
}
.qualities-img1 {
  width: 250px;
}
/* END : Home page first hero section */

/* START : Home page 3rd requirement section */
.requirements-section {
  background-color: #000000;
  color: white;
}
/* END : Home page 3rd requirement section */

/* END-------------------- of home page ---------------------- */

/* START-------------------- of About page ---------------------- */
.breadcrumbs-section {
  background-color: #e9ecef;
}
/* END-------------------- of About page ---------------------- */

/* START-------------------- of Contact Us Page ---------------------- */
.address p {
  font-weight: 600;
}

.bar {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 17px;
  border: 1px solid rgb(63, 71, 80);
}
